<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Cupcake Info</title>
</head>
<body>

        <h3>{{ cupcake['name'] }}</h3>
        <h4>Size: {{ cupcake['size'] }} </h4>
        <h4>Flavor: {{ cupcake['flavor'] }} </h4>
        <h4>Frosting: {{ cupcake['frosting'] }} </h4>
        <h4>Sprinkles: {{ cupcake['sprinkles'] }} </h4>
        <h4><b>Price: ${{ cupcake['price'] }} </b></h4>

</body>
</html>